/* Sección Hero (Encabezado) */
.hero-section {
    background-image: url('../../../assets/img/fondo-header.png');
    background-size: cover;
    background-position: center;
    height: 350px;
    margin-top: -1.5rem; /* Ajuste para pegar al navbar si es necesario */
}

/* Efecto de elevación en las tarjetas */
.hover-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    cursor: pointer;
}

.card-title {
    color: #333;
}